body {
    color: rgb(255, 255, 255);
    background-color: #dfd6d6;
    /* background: url(https://i.pinimg.com/564x/53/02/fa/5302fad51df0c27b879330f19c0d2f3d.jpg) ; */
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
  }
  
 nav li {
    float: left;
  }
  
  nav li a {
    background-color: #8c58ec;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    margin: 10px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
  }

 nav li a:hover {
    color: #8c58ec;
    background-color:#dfd6d6;
  }


  h1 {
    color: #8c58ec;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
  }